[submodule "hass-n8n"]
  path = hass-n8n
  branch = master
	url = https://github.com/caraar12345/hass-n8n
[submodule "speedtest2mqtt"]
	path = speedtest2mqtt
	url = https://github.com/caraar12345/speedtest2mqtt
[submodule "ha-addon-influxdb2"]
	path = influxdb2
	url = https://github.com/caraar12345/ha-addon-influxdb2
[submodule "influxdb2"]
	url = https://github.com/caraar12345/ha-addon-influxdb2
[submodule "tvheadend"]
	path = tvheadend
	url = https://github.com/caraar12345/hassio-tvheadend
[submodule "caddy-webhook"]
	path = caddy-webhook
	url = https://github.com/caraar12345/caddy-webhook
